<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <p>
    <%= @fullName %>
  </p>
  <h4>Grade Level</h4>
  <p>
    <%= @gradeLevel %>
  </p>
  <h4>Favorite Class</h4>
  <p>
    <%= @favoriteClass %>
  </p>
</div>
